@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Titillium+Web:ital,wght@0,400;1,300&display=swap');

:root {
  --main-color: #191a1c;
  --second-color: #19272e;
  --third-color: #684131;
  --fourth-color: #855d4e;
  --fifth-color: #df9468;
  --sixth-color:#fec89b;
  --light: #FFEEE0;
  --spacing: 4px ;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
  --main-font: 'Josefin Sans', sans-serif;
  --second-font: 'Titillium Web', sans-serif;
  --ft-size-title: 2em;
  
}

