.footer-container {
  position: relative;
  width: 100%;
  border-top-left-radius: 250px 75px;
  border-top-right-radius: 250px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: var(--spacing-large);
  background-color: var(--second-color);
}

.footer-container p {
  margin: 0;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--light);
}

.icons-footer {
  color: var(--second-color);
  background-color: var(--light);
  border-radius: 50%;
  padding: 2px;
  transition: .2s linear;
}

.container-icons-footer {
  width: 20%;
  margin: auto;
}

.icons-footer:hover {
    transform: rotate(20deg);
}

.copyright {
  font-size: 8pt;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .container-icons-footer {
    width: 10vw;
    margin: auto;
  }
}


@media screen and (min-width: 1024px) {
    .container-icons-footer {
      width: 8vw;
      margin: auto;
    }
  }