.card-skill img{
    width: 100px;
}

.card-skill h5{
    font-family: var(--main-font);
    color:var(--light);
}

.card-skill {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    

}