.accueil-container {
  height: 100vh;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.accueil-container h1 {
  font-family: var(--main-font);
  color: var(--light);
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-top: 25px;
  letter-spacing: 5px;
  font-weight: 300;
}

.accueil-container h2 {
  width: 100%;
  text-align: center;
  font-family: var(--second-font);
  color: var(--light);
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom:5vh;
}

.accueil-container p {
  width: 100%;
  text-align: left;
  font-family: var(--second-font);
  color: var(--light-text);
  font-size: 1em;
  font-weight: 100;
  text-align: justify;
}

.second-container-accueil {
  padding: 38px;
}

.accueil-container img {
  width: 150px;
  border-radius: 50%;
  margin-top: 8vh;
  box-shadow: 0 0 2px var(--sixth-color);
}

.first-container-accueil {
  width: 100%;
  background-color: var(--second-color);
  padding-bottom: 10px;
  border-bottom-left-radius: 2000px 75px;
}

@media screen and (min-width:768px){
    .accueil-container img {
        width: 250px;
        margin-top: 10vh;
      }
      .accueil-container p {
        font-size:14pt;
      }

}

@media screen and (min-width: 1024px) {
  .accueil-container {
    padding-top: 80px;
  }

  .accueil-container img {
    width: 200px;
    
  }

  .accueil-container img:hover {
    transition: 0.2s linear;
  }

  .accueil-container p {
    font-size: 1.5em;
  }

  .accueil-container h2 {
    font-size: 2em;
  }

  .accueil-container h1 {
    font-size: 4em;
    letter-spacing: 15px;
  }
}
